<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    
    <script src="https://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/popper"></script>
    <script src="https://unpkg.com/bootstrap"></script>
    
    <link rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link rel="stylesheet" href="/static/stylesheets/style.css">
    <link rel="shortcut icon" href="/static/favicon.ico">
</head>
<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container text-center">
            <p>
                {{g.bible_verse[0]}}
            </p>
            <span>
                {{g.bible_verse[1]}}
            </span>
        </div>
    </div>
    <nav class='nav navbar-expand-md navbar-dark bg-dark'>
        <button 
        class='navbar-toggler' 
        data-toggle="collapse"
        data-target='#mainNav'
        type='button'>
            <span class='navbar-toggler-icon'></span>
        </button>
        <div class="collapse navbar-collapse col-mr-auto" id='mainNav'>
            <ul class='navbar-nav' >
                <li>
                    <a class='nav-item nav-link' href="/">HOME</a>
                </li>
                <li>
                    {% if g.user.enrollments %}
                        <div class="dropdown">
                            <button 
                            class="btn btn-dark dropdown-toggle" 
                            type="button" 
                            id="class_drop_down_button" 
                            data-toggle="dropdown" 
                            aria-haspopup="true" 
                            aria-expanded="false">
                                Classes
                            </button>
                            <div 
                            class="dropdown-menu" 
                            aria-labelledby="class_drop_down_button">
                                {% for enrollment in g.user.enrollments %}
                                <a 
                                href="/student_page/{{enrollment.course.id}}" 
                                class="nav-item nav-link">
                                    {{enrollment.course.title}}
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </li>
                <li>
                    {% if g.user.teach_assisting %}
                        <div class="dropdown">
                            <button 
                            class="btn btn-dark dropdown-toggle" 
                            type="button" 
                            id="ta_drop_down_button" 
                            data-toggle="dropdown" 
                            aria-haspopup="true" 
                            aria-expanded="false">
                                TA: Classes
                            </button>
                            <div 
                            class="dropdown-menu" 
                            aria-labelledby="ta_drop_down_button">
                                {% for teaching in g.user.teach_assisting %}
                                
                                    <a 
                                    href="/ta_page/{{teaching.course.id}}" 
                                    class="nav-item nav-link">
                                        TA:{{teaching.course.title}}
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </li>
                <li>
                    {% if g.user.secretarying %}
                        <div class="btn-group">
                            <a 
                            type="button" 
                            class="btn btn-dark"
                            href="/secretary">
                                Secretary
                            </a>
                            <button 
                            type="button" 
                            class="btn btn-dark dropdown-toggle dropdown-toggle-split" 
                            data-toggle="dropdown" 
                            aria-haspopup="true" 
                            aria-expanded="false">
                                <span class="sr-only">
                                    Toggle Dropdown
                                </span>
                            </button>
                            <div class="dropdown-menu">
                                {% for secretarying in g.user.secretarying %}
                                {% if secretarying.course %}
                                    <a 
                                    href="/ta_page/{{secretarying.course.id}}" 
                                    class="nav-item nav-link">
                                        TA:{{secretarying.course.title}}
                                    </a>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </li>
                  
            </ul>
        </div>
        <div class="navbar-nav col-auto">
            {% if not g.user %}
                <a href="/signup" class="nav-item nav-link">SIGN UP</a>
            {% else %}
                <a href="/logout" class="nav-item nav-link">LOG OUT</a>
            {% endif %}
        </div>
    </nav>
    <section class="messages">
        {% for msg in get_flashed_messages() %}
            <p>
                {{ msg }}
            </p>
        {% endfor %}
    </section>
    <div>
        {% block content %}
        {% endblock %}
    </div>
    
</body>
</html>