<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    
    <script src="https://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/popper"></script>
    <script src="https://unpkg.com/bootstrap"></script>
    
    <link rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link rel="stylesheet" href="/static/stylesheets/style.css">
    <link rel="shortcut icon" href="/static/favicon.ico">
</head>
<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container text-center">
            <p>
                {{g.bible_verse[0]}}
            </p>
            <span>
                {{g.bible_verse[1]}}
            </span>
        </div>
    </div>
    <nav class='nav navbar-expand-md navbar-dark bg-dark'>
        <button 
        class='navbar-toggler' 
        data-toggle="collapse"
        data-target='#mainNav'
        type='button'>
            <span class='navbar-toggler-icon'></span>
        </button>
        <div class="collapse navbar-collapse col-mr-auto" id='mainNav'>
            <ul class='navbar-nav' >
                <li>
                    <a class='nav-item nav-link' href="/">HOME</a>
                </li>
                
                {% for enrollment in g.user.enrollments %}
                    <li>
                        <a href="/student_page/{{enrollment.id}}" class="nav-item nav-link">
                            {{enrollment.course.title}}
                        </a>
                    </li>
                {% endfor %}
                {% for teaching in g.user.teach_assisting %}
                    <li>    
                        <a href="/ta_page/{{teaching.id}}" 
                        class="nav-item nav-link">
                            TA:{{teaching.course.title}}
                        </a>
                    </li>
                {% endfor %}
                {% for secretarying in g.user.secretarying %}
                    <li>
                        {% if secretarying.course %}
                            <a href="/secretary/{{secretarying.id}}" 
                            class="nav-item nav-link">
                                Secretary: {{secretarying.course.title}}    
                            </a>
                        {% else %}
                            <a href="/secretary" class="nav-item nav-link">
                                Secretary
                            </a>
                        {% endif %}
                    </li>
                {% endfor %}
                  
            </ul>
        </div>
        <div class="navbar-nav col-auto">
            {% if not g.user %}
                <a href="/signup" class="nav-item nav-link">SIGN UP</a>
            {% else %}
                <a href="/logout" class="nav-item nav-link">LOG OUT</a>
            {% endif %}
        </div>
    </nav>
    <section class="messages">
        {% for msg in get_flashed_messages() %}
            <p>
                {{ msg }}
            </p>
        {% endfor %}
    </section>
    <div>
        {% block content %}
        {% endblock %}
    </div>
    
</body>
</html>