{% extends 'base.html' %}

{% block title %}
General Secretary Page
{% endblock %}

{% block content %}
<p>
    <h1 class="display-3 text-center">
        General Secretary Page
    </h1><br><br>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            
            <form action="/add_course" method="post">
                <div class="input-group input-group-lg">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            Course Title: 
                        </span>
                    </div>
                    <input type="text" 
                    class="form-control" 
                    id="course_title"
                    name="course_title">
                    <input type="submit" value="Add Course" class="btn btn-success">
                </div>
            </form>
        </div>  
    </div>
</p>
<p>
    <h1 class="display-3 text-center">
        Add as a secretary for a course
    </h1>
    <div class="text-center">
        {% for course in courses %}
            <span>
                <a href="/secretary/add/{{course.id}}" class="btn btn-primary">
                    {{course.title}}
                </a>
            </span>
        {% endfor %}
    </div>
</p> 

{% endblock %}