{% extends 'base.html' %}

{% block title %}
{{g.user.first_name}}'s TA page for {{teach_assisting.course.title}}
{% endblock %}

{% block content %}
    <div class="container p-3">

        <h1 class="display-4 p-3 text-center">
            {{g.user.first_name}} {{g.user.last_name}}'s 
            Students for {{teach_assisting.course.title}}
        </h1>

        <div class="row p-t-4">
            <div class="col-8">
                Students
            </div>
            <div class="col-2 text-center">
                Assignments Out
            </div>
            <div class="col-2 text-center">
                Incompletes
            </div>
        </div>

        {% for student in teach_assisting.students %}
            <div class="row p-2 bg-light">
    
                <div class="col-8">
                    <a href="/student_page/{{student.id}}" 
                    class="btn btn-primary">
                        {{student.user.first_name}} {{student.user.last_name}}         
                    </a>
                </div>
                <div class="col-2 text-center">
                    {{ student.assignments | rejectattr('turned_in') | list | length }}
                </div>
                <div class="col-2 text-center">
                    {{ student.assignments | rejectattr('complete') | list | length }}
                </div>
            </div>
        {% endfor %}
    </div>


{% endblock %}